
.mat-toolbar {
  //background-color: #f6f9fc;
  background-color: #1b1b32;
  display:flex;
  justify-content:space-around;
  align-items:center;
  padding-right: 20%;
  justify-content: flex-end;



}

.navbar {
  display: flex;
  justify-content: space-around;
}

.header-button {
//background-color: #f6f9fc;
background-color: #1b1b32;
margin-right: 50px;

}
.header-button:hover{
    border-bottom: 4px solid #747fe0;
}

a {
  text-decoration: none;
  font-family: Camphor,Open Sans,Segoe UI,sans-serif;
  color: white;
}

