<!--<p>-->
  <!--<mat-toolbar>-->
    <!--<div class="navbar">-->

        <!--<h1 class="header-button">-->
          <!--<a href="#projecten">-->
            <!--Projecten-->
          <!--</a>-->
        <!--</h1>-->


        <!--<h1 class="header-button">-->
          <!--<a href="#ervaring">-->
            <!--Ervaring-->
          <!--</a>-->
        <!--</h1>-->

    <!--</div>-->

  <!--</mat-toolbar>-->
<!--</p>-->

<header>
  <h2><a href="#"></a></h2>
  <nav>
    <li><h1><a href="#projecten">Projecten</a></h1></li>
    <li><h1><a href="#contact">Contact</a></h1></li>
    <li><h1><a href="#">CV</a></h1></li>
  </nav>
</header>
<section class="banner-area">
  <div class="banner-img"></div>
  <div class="banner-title">
    <!--<h1>> Work in progress </h1>-->
      <span class="terminal__prompt--cursor"></span>


    <!--<p>Ik ben een informatica student (richting: software engineering) op de Hogeschool-->
      <!--Leiden. Welkom op mijn portfolio website! :)-->
    <!--</p>-->
  </div>

  <app-terminal></app-terminal>

</section>

