.content {
  padding: 16px;
  text-align:center;
  padding-top: 30px;


}
mat-card {
  margin: 20px;
}
.content > mat-card {
  width:100%;
  max-width: 200px;
  background-color: #f6f9fc;
}

.mat-card {
// background-color: #f5d5b0;

  }
.mat-card:hover {
   box-shadow: -1px 10px 29px 0px rgba(0,0,0,0.8);
}

.mat-card-header {
  justify-content:center;
}

@media (max-width: 400px) {
  mat-chip {
    display:none;
  }
  .card-layout{
    width: 100%;
    padding: 0;
    margin: 0 ;
  }
  .content {
  margin: 0 0 0 0;
  padding: 0;
  }
mat-card-actions, mat-button, button {
  margin: 0;
  padding: 0;
  }
}
