.content {
  padding: 16px;
  text-align:center;
}

.content > mat-card {
  width:100%;
  max-width: 200px;
  background-color: #f6f9fc;
}

.mat-card {
// background-color: #f5d5b0;

  }
.mat-card-header {
  justify-content:center;
}
