

<style>

</style>

<app-header></app-header>

<div class="content" role="main">

  <h1>WORK IN PROGRESS </h1>
  <p>Ik ben een informatica student (righting: software engineering) op de Hogeschool Leiden. Welkom op mijn portfolio website! :)</p>
  <!--<h1 id="over_mij">Over mij </h1>-->
  <!-- Terminal -->
<app-terminal></app-terminal>

</div>

<div class="content"  role="main">

  <!-- Resources -->
  <h1 class="underline" id="projecten">
    Projecten
  </h1>
  <app-projects></app-projects>

  <h1 class="underline" id="ervaring">
    Ervaring
  </h1>

  <div class="card-container">

    <app-projects></app-projects>

  </div>

</div>


<app-footer></app-footer>

<router-outlet></router-outlet>
