
  .top {
  width:100%;
  padding-bottom: 45px;

  }

  .content {
    display: flex;
    margin: 82px auto 32px;
    padding: 0 16px;
    max-width: 1600px;
    flex-direction: column;
    align-items: left;
    font-family: Camphor,Open Sans,Segoe UI,sans-serif;
    font-weight: 200;
    font-size: 1.3em;
    margin-top: -50px;
    color: #525f7f;

  }
/*
  .terminal {
    align: left;
    position: relative;
    width: 80%;
    max-width: 600px;
    border-radius: 6px;
    padding-top: 45px;
    margin-top: 8px;
    overflow: hidden;
    background-color: #5a5d7a;

  }

  .terminal::before {
    content: "\2022 \2022 \2022";
    position: absolute;
    top: 0;
    left: 0;
    height: 4px;
    background: #dedde0;
    color: #c2c3c4;
    width: 100%;
    font-size: 3rem;
    line-height: 0;
    padding: 14px 0;
    text-indent: 4px;
  }

  .terminal pre {
    font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
    color: white;
    padding: 0 1rem 1rem;
    margin: 0;
  }
*/
#naam {
  //margin-top: 30%;
}

@media(max-width:1000px){
  .content {
    text-align: center;
  }
}

// BANNER BELOW

.wrapper {
  height: 100vh;

}

.parallax-img {
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  background-image: url('https://source.unsplash.com/random/1920x1080');
}

/* Other styling elements, that are not necessary for the example */

.parallax-img {
  background-image: url('https://source.unsplash.com/random/1920x1080');
}

.bottom {
//background-color: #252934;
margin: 150px;
}


@media(max-width:600px){
  .bottom a {
  font-size: 14px;
  }
}

.bottom span {
    margin-right: 10px;

}
