

<style>

</style>

<app-header></app-header>

<!--<div class="content" role="main">-->

  <!--<h1 id="naam">WORK IN PROGRESS </h1>-->
  <!--<p id="introductie">Ik ben een informatica student (richting: software engineering) op de Hogeschool Leiden. Welkom op mijn portfolio website! :)</p>-->

<!--</div>-->

<!--<app-terminal></app-terminal>-->

<div class="content"  role="main">

  <h1 class="underline section" id="projecten"> Projecten </h1>

  <app-projects></app-projects>
  <app-projects></app-projects>

  <h1 class="underline section" id="contact">
    Contact
  </h1>
  <div id="btmFooter md-padding" flex>
    <pre> test@hotmail.com     <b>||</b>     <a href="https://www.linkedin.nl/profile" target="_blank">https://www.linkedin.nl/profile</a>    <b>||</b>     <a href="https://wwww.github.com/profile" target="_blank">https://wwww.github.com/profile</a></pre>
  </div>

  <!--<div class="card-container">-->

    <!--<app-experience></app-experience>-->

  <!--</div>-->

</div>


<app-footer></app-footer>

<router-outlet></router-outlet>
