<main id="container">
  <div id="terminal">
    <!-- Terminal Bar -->
    <section id="terminal__bar">
      <div id="bar__buttons">
        <button class="bar__button" id="bar__button--exit">&#10005;</button>
        <button class="bar__button">&#9472;</button>
        <button class="bar__button">&#9723;</button>
      </div>
      <p id="bar__user">nordoub@ubuntu: ~</p>
    </section>
    <!-- Terminal Body -->
    <section id="terminal__body">
      <div class="terminal__prompt">
        <span class="terminal__prompt--user">nordoub@ubuntu:</span>
        <span class="terminal__prompt--location">~</span>
        <span class="terminal__prompt--bling">$</span>
        <!--<span class="terminal__prompt&#45;&#45;cursor"></span>-->
        <span class="console-text"> test.naam <br></span>
      </div>
      <span style="color:#e7d184">"test"</span>
      <div class="terminal__prompt">
        <span class="terminal__prompt--user">nordoub@ubuntu:</span>
        <span class="terminal__prompt--location">~</span>
        <span class="terminal__prompt--bling">$</span>

        <span class="console-text">test.contactInfo <br></span>
      </div>
      <span style="color:#e7d184">["test@hotmail.com", "LinkedIn", "Github"]</span>
      <div class="terminal__prompt">
        <span class="terminal__prompt--user">nordoub@ubuntu:</span>
        <span class="terminal__prompt--location">~</span>
        <span class="terminal__prompt--bling">$</span>

        <span class="console-text">test.CV <br></span>
      </div>
      <span style="color:#e7d184">Circulum Vitae.pdf</span>
      <div class="terminal__prompt">
        <span class="terminal__prompt--user">nordoub@ubuntu:</span>
        <span class="terminal__prompt--location">~</span>
        <span class="terminal__prompt--bling">$</span>

        <span class="console-text">test.interesses <br></span>
      </div>
      <span style="color:#e7d184">["Sporten", "Multiplayer games", "Backend end development"]</span>
      <div class="terminal__prompt">
        <span class="terminal__prompt--user">nordoub@ubuntu:</span>
        <span class="terminal__prompt--location">~</span>
        <span class="terminal__prompt--bling">$</span>

        <span class="console-text">test.skills <br></span>
      </div>
      <span style="color:#e7d184">["Java", "PHP", "Typescript", "git", "html", "css"]</span>
      <div class="terminal__prompt">
        <span class="terminal__prompt--user">nordoub@ubuntu:</span>
        <span class="terminal__prompt--location">~</span>
        <span class="terminal__prompt--bling">$</span>
        <span class="terminal__prompt--cursor"></span>

      </div>
    </section>
  </div>
</main>
